html, body {
    width: 100%;
    height: 100%;
    background-color: white;
}

.container {
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: white;
    width: 200px;
    height: 200px;
    perspective: 600px;
  }

  p {
    padding: 10px;
  }

  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(30deg) rotateX(30deg);
  }

  .cube_face {
    position: absolute;
    width: 200px;
    height: 200px;
    color: rgb(255, 255, 255);
    font-size: 46px;
  }

.cube_face-front {
    background-color: green;
    opacity: 0.6;
    transform: rotateY(0deg) translateZ(100px);
}

.cube_face-right {
    background-color: greenyellow;
    opacity: 0.6;
    transform: rotateY(90deg) translateZ(100px);
}

.cube_face-back {
    background-color: gold;
    opacity: 0.6;
    transform: rotateY(180deg) translateZ(100px);
}